.jetz__gameplay {
   border: 1px solid #fff;
   border-radius: 15px;
   height: 300px;
   width: 300px;
   margin: 50px auto 0;
}

.jetz_button {
   margin-top: 40px;
   background-color: #381DA1;
   border-radius: 20px;
   padding: 10px 40px;
   font-size: 18px;
}