
.jetz__gameplay {
   border: 1px solid #fff;
   border-radius: 15px;
   height: 300px;
   width: 300px;
   margin: 50px auto 0;
}

.jetz_button {
   margin-top: 40px;
   background-color: #381DA1;
   border-radius: 20px;
   padding: 10px 40px;
   font-size: 18px;
}

.j_history_element {
   margin-left: 8px;
   margin-bottom: 10px;
   width: 60px;
   border-radius: 10px;
   text-align: center;
   padding: 10px 0;
   display: inline-block;
   background-color: rgba(128, 128, 128, 0.6);
}

.blue {
   background-color: blue;
}

.orange {
   background-color: orange;
}

.second_input {
   margin-top: 10px;
}