* {
    margin: 0;
    padding: 0;
}

.intro_header {
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);;
}

.intro_icon {
  width: 150px;
  height: 150px;

  margin: 30px 0 15px 0;
}

.intro_title {
  color: #fff;
  letter-spacing: 1px;
  font-size: 350;

  margin-bottom: 15px;
}

.earn__container {
  text-align: left;
  color: #fff;
  margin: 5px 15px 0 15px;
  letter-spacing: 1px;
}

.section_task_name {
  font-size: 16px;
}

/* -------------DailyEarn------------ */

.daily_earn {
  margin: 5px 0 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgba(56, 29, 161, 0.44);
  
}

.task_list {
  margin: 5px 0 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgba(56, 29, 161, 0.44);
  
}

.calendar_img {
  width: 50px;
  height: 50px;
  margin-top: 5px; 
}

.task_img {
  width: 48px;
  height: 48px;
  margin-top: 8px; 
}

.task_text {
  margin-top: 10px;
  margin-right: 60px;
}

.task_name {
  letter-spacing: normal;
  margin-bottom: 5px;
}

.task_price {
  display: flex;
}

.small_coin {
  margin-right: 2px;
}

.arrow_to_right {
  margin-top: 10px; 
}

.daily, .task1,
.task2, .task3, .task4 {
  overflow-y: auto;
  max-height: calc(100vh - 30px); 
}

.earn__container {
  margin-top: 20px;
}

.task4 {
  margin-bottom: 80px;
}