* {
   margin: 0;
   padding: 0;
}

.mine_header {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.mine_header_element {
   margin: 30px 25px;
   color: #fff;
   text-align: center;
   background: rgba(163, 71, 227, 0.72);
   /* border-radius: 16px; */
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8.3px);
   -webkit-backdrop-filter: blur(8.3px);
   border: 1px solid rgba(163, 71, 227, 1);
   border-radius: 15px;
   padding: 10px;
}

.mine_header_text {
   display: flex;
   justify-content: center;
   margin-top: 3px;
}

.scroll {
   overflow-y: auto;
   max-height: calc(100vh - 30px);

}

.costil {
   margin-bottom: 180px;
   opacity: 0; 
}

.power_section {
   color: #fff;
   margin-top: 20px;
   text-align: left;
}

.last_power_section {
   margin-bottom: 80px;
}

.mine_section_name {
   margin-left: 15px;
}

/* ------------------------------ */

.item_container {
   display: flex;
   justify-content: space-between;
   margin: 10px 20px;
   padding: 10px;
   background: rgba(163, 71, 227, 0.72);
   /* border-radius: 16px; */
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8.3px);
   -webkit-backdrop-filter: blur(8.3px);
   border: 1px solid rgba(163, 71, 227, 1);
   border-radius: 20px;
   cursor: pointer;
}

.item_image {
   width: 48px;
   height: 41px;
   margin-top: 8px;
   margin-left: 10px;
}

.item_content {
   margin-top: 5px;
}

.item_price {
   display: flex;
}

.item_price div  {
   display: flex;
   margin-top: 8px;
}

.item_lvl {
   color: rgb(192, 188, 188);
   font-size: 13px;
   font-weight: 400;
   line-height: 13px;
   margin-top: 12px;
   margin-left: 10px;
}


/* --------------------- */

.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 9998;
   background-color: rgba(0, 0, 0, 0.3);
   display: grid;
   align-items: center;
   justify-content: center;
   overflow-y: hidden;
 
   visibility: hidden;
   opacity: 0;
   transition: opacity .4s, visibility .4s;
 }
 
.modal_box {
   color: #fff;
   width: 100vh;
   height: 100vh;
   z-index: 1;
   overflow: hidden;
}

.modal.active {
   visibility: visible;
   opacity: 1;
}


.PixarPrew {
   width: 100px;
   height: 100px;
   margin: 10px 0;
}

.info_container p {
   margin-top: 30px;
}

.info_container div {
   display: flex;
   justify-content: center;
}

.update_price {
   margin-top: 5px;
   margin-left: 3px;
}

.price_and_lvl {
   margin-top: 10px;
}

.info_lvl {
   color: rgb(192, 188, 188);
   font-size: 13px;
   font-weight: 400;
   line-height: 13px;
   margin-top: 9px;
   margin-left: 10px;
}

.your_balance {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.your_balance p {
   margin-top: 5px;
   margin-right: 15px;
}

.your_balance div {
   display: flex;
   justify-content: space-between;
}

.upgrate_button {
   color: #fff;
   font-family: "Aldrich", sans-serif;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 15px;
   border-radius: 20px;
   width: 200px;
   margin: 55px auto;
   background: rgba(13, 140, 200, 0.75);
   /* border-radius: 16px; */
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(10.1px);
   -webkit-backdrop-filter: blur(10.1px);
   border: 1px solid rgba(13, 140, 200, 1);

}
