* {
   margin: 0;
   padding: 0;
}

.mine_header {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.mine_header_element {
   margin: 30px 25px;
   color: #fff;
   text-align: center;
   background-color: rgba(56, 29, 161, 0.44);
   border-radius: 15px;
   padding: 10px;
}

.mine_header_text {
   display: flex;
   justify-content: center;
   margin-top: 3px;
}

.power_section {
   color: #fff;
   margin-top: 20px;
   text-align: left;
   overflow-y: auto;
}

.last_power_section {
   margin-bottom: 80px;
}

.mine_section_name {
   margin-left: 15px;
}

/* ------------------------------ */

.item_container {
   display: flex;
   justify-content: space-between;
   margin: 10px 20px;
   padding: 10px;
   background-color: rgba(56, 29, 161, 0.44);
   border-radius: 20px;
   cursor: pointer;
}

.item_image {
   width: 48px;
   height: 41px;
   margin-top: 8px;
   margin-left: 10px;
}

.item_content {
   margin-top: 5px;
}

.item_price {
   display: flex;
}

.item_price div  {
   display: flex;
   margin-top: 8px;
}

.item_lvl {
   color: rgb(192, 188, 188);
   font-size: 13px;
   font-weight: 400;
   line-height: 13px;
   margin-top: 12px;
   margin-left: 10px;
}