.transparent {
   background-color: transparent;
}

button {
   border: none;
   background-color: transparent;
}

/* -----------------FRIENDS----------------- */
.invite__container,
.secnod_section_friend {
   margin-bottom: 80px; /* Добавлено для отступа снизу */
}


.invite__container {
   color: #fff;
   margin-top: 30px;
   letter-spacing: 1px;
   overflow-y: auto; 
   max-height: calc(100vh - 30px);
}

.first_section_friend {
   padding-bottom: 15px;
   border-bottom: 1px solid rgb(0, 141, 133);;
}

.secnod_section_friend {
   margin-top: 20px;
   overflow-y: auto;
   max-height: calc(100vh - 30px); 
}

/* --------------INVITE-------------- */

.referal_invite {
   color: #fff;
   display: flex;
   justify-content: space-between;
   width: 280px;
   height: 70px;
   margin: 25px auto 0px auto;
   border-radius: 15px;
   cursor: pointer;

   background: rgba(99, 39, 141, 0.72);
   /* border-radius: 16px; */
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8.3px);
   -webkit-backdrop-filter: blur(8.3px);
   border: 1px solid rgba(163, 71, 227, 1);
}

.present_icon {
   width: 40px;
   height: 40px;
   margin-top: 15px;
   margin-left: 15px;
}

.invite_text {
   margin-top: 15px;
   margin-right: 10px;
}

.invite_title {
   font-family: "Aldrich", sans-serif;
   font-size: 18px;
}

.check {
   font-family: "Aldrich", sans-serif;
   font-size: 15px;
}

.cash {
   margin-top: 5px;
}

.coin {
   margin-left: 5px;
}

/* -----------FRIEND LIST----------- */

.friend_card {
   border: 1px solid transparent;
   border-radius: 15px;
   width: 340px;
   height: 70px;
   margin: 20px auto;
   display: flex;
   justify-content: space-between;

   background: rgba(99, 39, 141, 0.72);
   /* border-radius: 16px; */
   backdrop-filter: blur(8.3px);
   -webkit-backdrop-filter: blur(8.3px);
   border: 1px solid rgba(163, 71, 227, 1);
}

.user_icon {
   width: 40px;
   height: 40px;
   margin-left: 15px;
   margin-top: 15px;
   border: 1px solid rgba(208, 52, 255, 0.55);
   background-color: rgba(208, 52, 255, 0.55);
   border-radius: 50%;
}

.friend_text {
   margin-top: 15px;
}

.friend_info {
   margin-top: 5px;
   margin-left: 10px;
   text-align: center;
}

.bonus_display {
   margin-top: 30px;
   margin-right: 10px;
}
