.transparent {
   background-color: transparent;
}

button {
   border: none;
   background-color: transparent;
}

/* -----------------FRIENDS----------------- */

.invite__container {
   color: #fff;
   margin-top: 30px;

   letter-spacing: 1px;
}

.first_section_friend {
   padding-bottom: 15px;
   border-bottom: 1px solid rgb(0, 141, 133);;
}

.secnod_section_friend {
   margin-top: 20px;
}

/* --------------INVITE-------------- */

.referal_invite {
   color: #fff;
   display: flex;
   justify-content: space-between;

   width: 280px;
   height: 70px;
   margin: 25px auto 0px auto;

   border: 1px solid transparent;
   border-radius: 15px;
   background: rgb(56, 29, 161);

   cursor: pointer;
}

.present_icon {
   width: 40px;
   height: 40px;

   margin-top: 15px;
   margin-left: 15px;
}

.invite_text {
   margin-top: 15px;
   margin-right: 10px;
}

.cash {
   margin-top: 5px;
}

.coin {
   margin-left: 5px;
}

/* -----------FRIEND LIST----------- */

.friend_card {
   border: 1px solid transparent;
   border-radius: 15px;
   background: rgb(56, 29, 161);
   
   width: 340px;
   height: 70px;
   margin: 20px auto;

   display: flex;
   justify-content: space-between;
}

.user_icon {
   width: 40px;
   height: 40px;
   margin-left: 15px;
   margin-top: 15px;

   border: 1px solid rgba(56, 29, 161, 0.55);
   border-radius: 50%;
}

.friend_text {
   margin-top: 15px;
}

.friend_info {
   margin-top: 5px;
   margin-left: 10px;
   text-align: center;
}

.bonus_display {
   margin-top: 30px;
   margin-right: 10px;
}