@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;

  background-color: #2A1D5A;
}

.transparent {
  background: transparent;
}

.App {
  text-align: center;
  background-color: aqua;
  font-family: "Aldrich", sans-serif;
  position: relative;
}

.menu__text {
  font-family: "Aldrich", sans-serif;
  font-size: 12px;
  background-color: transparent;
}

.user-panel {
  margin: 10px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background: rgba(56, 29, 161, 1) !important;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.userInfo_container {
  border-radius: 20px;
  margin-top: 10px;

  text-align: left;
}

.user_name {
  font-size: 18px;
  margin-bottom: 10px;
}

.user_id {
  font-size: 12px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user_balance_container {
  color: #fff;
}

.balance {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
}

.balance img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.balance p {
  font-size: 32px;
}

.balance_counter {
  font-size: 32px;
}

.add-balance-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.add-balance-button:active {
  transform: scale(0.9);
}

.app-window {
  padding: 20px;
}

.navigation {
  position: fixed;
  bottom: 0; /* Установка высоты от нижнего края */
  width: 90%;
  left: 50%;
  transform: translateX(-50%); 
  padding: 0 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(deg, rgba(23, 15, 54, 0.8),rgba(56, 29, 161, 0.8) 100%);  flex-wrap: wrap;
}

.nav-button {
  padding: 8px; /* Уменьшаем внутренний отступ */
  min-width: 60px; /* Устанавливаем минимальную ширину */
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px; /* Закругление углов кнопок */
  width: 18%; /* Устанавливаем ширину кнопки в 20% от ширины контейнера */
  box-sizing: border-box; /* Учитываем внутренние отступы в общей ширине */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #8A8A8A;
}

.nav-button.active {
  color: #FFFFFF;
  background-color: #0A0714; /* Цвет фона активной кнопки */
}

.nav-button img {
  max-width: 80%; /* Ограничиваем ширину иконки */
  margin-bottom: 4px; /* Устанавливаем отступ между иконкой и текстом */
  background-color: transparent;
}


/* ------------------------------- */


.light_icon {
  height: 20px;
  width: 20px;

  margin-right: 5px;
}

.Strange_line_container {
  margin-top: 50px;
  text-align: left;
  margin-left: 14px;
  color: #fff;
}

.grey_text {
  color: #B7B7B7 !important;
}

.light_counter_line {
  width: calc(100% - 10px);
  height: 12px;
  margin: 0 5px;
  background: linear-gradient(270.00deg, rgba(10, 228, 242, 0.65),rgba(6, 140, 140, 0.65) 100%);
  border-radius: 15px;
}