@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

body {
  background: rgb(39,30,117);
  /* background: linear-gradient(0deg, rgba(39,30,117,1) 0%, rgba(22,7,60,1) 93%); */
  font-family: "Aldrich", sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
  background: rgb(39,30,117);
  background: linear-gradient(0deg, rgba(39,30,117,1) 0%, rgba(22,7,60,1) 93%);
  position: relative;
}

.app-window {
  overflow: hidden;
}

.navigation {
  overflow: hidden;
}

.user-panel {
  margin: 5px 10px 10px 10px;
  padding: 10px;
  border-radius: 20px;
  /* background: rgba(56, 29, 161, 1); */
  color: #fff;
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  text-align: left;

  background: rgba(99, 39, 141, 0.72);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(163, 71, 227, 1);
}

.user_info_container {
  margin-top: 10px;
  /* text-align: left; */
}

.userInfo_container {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 19px;
}

.user_id {
  margin-top: 2px;
  font-size: 16px;
  margin-right: 10px;
}

.user_name {
  margin-bottom: 5px;
}

.id_text {
  font-size: 15px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 25px; /* Добавлено смещение вниз на 10px */
}

.balance_counter {
  font-size: 2em;
  margin-right: 5px;
}

.balance img {
  width: 2em;
  height: 2em;
}


.balance-container {
  display: flex;
  justify-content: center; /* Центрирование баланса */
  align-items: center;
  flex-direction: column;
}

.user_balance_container {
  text-align: center; /* Центрирование текста баланса */
}

.nav-button,
.add-balance-button {
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Для WebKit браузеров */
  /* tap-highlight-color: transparent; Для остальных браузеров */
}


.user-card,
.balance-container,
.Strange_line_container {
  user-select: none;
}


.add-balance-button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.1s ease;
  user-select: none;
}

.add-balance-button:active {
  transform: scale(0.9);
}

.app-window {
  padding: 20px;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding: 0 15px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  background: rgba(79, 2, 134, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(123, 0, 208, 0.18);
  z-index: 999;
}


.nav-button {
  padding: 8px;
  min-width: 60px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0; /* Обнуляем скругление углов */
  width: 20%; /* Устанавливаем ширину кнопки в 18% от ширины контейнера */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #8A8A8A;
  position: relative; /* Добавляем позиционирование, чтобы псевдоэлемент мог быть корректно расположен */
}

.nav-button.active {
  color: #FFFFFF;
  background: rgba(74, 24, 109, 0.77);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.nav-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(6, 177, 6); /* Зеленый цвет для нижней части активной кнопки */
}

.nav-button img {
  max-width: 80%;
  margin-bottom: 4px;
}

.Strange_line_container {
  text-align: left;
  color: #fff;
  margin-top: 30px;
  font-size: 12px;
  display:block;
}

.grey_text {
  color: #9e9e9e;
}

.light_counter {
  margin-bottom: 5px;
}
.light_icon {
  margin-bottom: -5px;
  width: 15px;
  height: 15px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .user-panel {
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
  }

  .user-info_container {
    margin-top: 0;
    text-align: left;
  }

  .Strange_line_container {
    text-align: left;
    color: #fff;
    margin-top: 90px;
    font-size: 12px;
    display:block;
  }
}