* {
  margin: 0;
  padding: 0;
  background-color: #2A1D5A;
}

.App {
  text-align: center;
  background-color: aqua;

}

.user-panel {
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.balance {
  font-size: 18px;
}

.add-balance-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.app-window {
  padding: 20px;
}

.navigation {
  position: fixed;
  bottom: 30px; /* Установка высоты от нижнего края */
  left: 20px; /* Установка отступа слева */
  right: 20px; /* Установка отступа справа */
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top, #170F36, #381DA1); /* Градиентный фон */
  border-radius: 20px; /* Закругление углов */
  padding: 5px 10px; /* Внутренние отступы */
  flex-wrap: wrap; /* Разрешение переноса кнопок на следующую строку */
}

.nav-button {
  padding: 8px; /* Уменьшаем внутренний отступ */
  min-width: 60px; /* Устанавливаем минимальную ширину */
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px; /* Закругление углов кнопок */
  width: 20%; /* Устанавливаем ширину кнопки в 20% от ширины контейнера */
  box-sizing: border-box; /* Учитываем внутренние отступы в общей ширине */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #8A8A8A;
}

.nav-button.active {
  color: #FFFFFF;
  background-color: #0A0714; /* Цвет фона активной кнопки */
}

.nav-button img {
  max-width: 80%; /* Ограничиваем ширину иконки */
  margin-bottom: 4px; /* Устанавливаем отступ между иконкой и текстом */
  background-color: transparent;
}
