.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    /* justify-content: center; */
    /* display: block; */
  }
  
  .progress {
    height: 100%;
    background: linear-gradient(to right, rgb(0, 110, 255), rgb(0, 255, 200)); /* радужный градиент */
  }
  